<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyChuyenBay.Properties.Settings.conn" connectionString="Data Source=LAPTOP-Q1B0124O\TRANVANHUNG;Initial Catalog=DoAnSapCuoi;Integrated Security=True"
            providerName="" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>